* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Arial', sans-serif;
    background-color: black;
    color: white;
}

.container {
    width: 210mm;
    height: 297mm;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 60px;
}

.top-info {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
}

.time {
    width: 200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.hour, .minute {
    font-size: 50px;
    font-family: 'Alata', sans-serif;
}

.colon {
    font-size: 24px;
    font-family: 'Alata', sans-serif;
}

.date-info {
    font-family: 'Alata', sans-serif;
    display: flex;
    flex-direction: column;
    margin-top: 8px;
    margin-left: 2px;
    text-align: left;
    align-items: flex-start;
    font-size: 20px;
    line-height: 150%;
}

.weather-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 22px;
}

.weather-info img {
    width: 32px;
    height: auto;
    margin-top: 3px;
}

.weather {
    font-size: 30px;
    font-family: 'Alata', sans-serif;
}

.bottom-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 32px;
    width: 100%;
    font-size: 18px;
    margin-bottom: 30px;
}

.button {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
    font-size: 16px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: center;
    width: 80px;
}

.button img {
    width: 60px;
    height: auto;
}
